{
  "presets": ["env"],
  "plugins": [
    ["transform-rename-import", { "original": "^(.+?)\\.mjs$", "replacement": "$1.js" }]],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}