language: node_js
matrix:
  include:
    - node_js: "4"
      env:
        - UNIT=test:harmony
    - node_js: "5"
      env:
        - UNIT=test:harmony
    - node_js: "6"
      env:
        - UNIT=test
    - node_js: "7"
      env:
        - UNIT=test
    - node_js: "8"
      env:
        - UNIT=test
    - node_js: "node"
      env:
        - UNIT=test
script:
  - npm run $UNIT